# Question 1

In [7]:
2+5
#this produces a sum of integers 2 and 5

7

In [6]:
2 + 5
#this produces a sum of integers 2 and 5, space doesn't matter

7

In [8]:
2*5
#This one multiplies 2 times 5, and gives us 10 as the answer.

10

In [10]:
2**5
#This does an exponent of 2 and 5

32

In [16]:
2/5
#this divides 2 by 5 which results in 0.4

0.4

# Question 2

In [13]:
x=x+3
x
# x is taking the value of 13 because in the second line x is taking a value of 7 and is added to 3

13

# Question 3

In [19]:
x = 3
y = x
x = 10

In [20]:
y
#the value of Y is 3 because we assigned X as the value of Y, to which we previously assigned the value of 3.

3

In [22]:
x
#the value of x is now 10 because we assigned a new value to it and it takes the last assignment.

10

# Question 4

In [24]:
x = 3
x = x/2
y = 'abc'
z = y + y
print(x, z)
#the code runs without error, producing the value of x as 1.5, since the new assignment for X states x/2,
#which is 3/2. Z takes value of abcabc, since it adds up two values of Y.

1.5 abcabc

# Question 5

In [27]:
x = 3
x = x/2
y = 'abc'
z = x + y
print(x, z)
#This code runs with an error because the value of x is a number, shile the value of y is letters, whoch cannot 
#be added together.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

# Question 6

In [29]:
x = 3
y = 24
z = y/x
print(x, y, z, sep=' | ')
#This code runs without error because all the values assigned to the variables have been made are numbers and
#can be divided as a value of Z

3 | 24 | 8.0

# Question 7

In [31]:
x = 3
y = '24'
z = y/x
print(z)
#this code runs with an error because the value of y is '24', which is a string, 
#that is treating as a non-numeric value that cannot be divided.

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Question 8

In [35]:
x = "I am a #string" #Whoa, a string!

In [36]:
#A part of the code that says Whoa, a string! is a markdown, wchich is meant 
#to add comments to the code and facilitate readability.
#It didn't treat the word string as a markdown even though there is "#" because the phrase is in quotation marks
#treated as a string.

# Question 9

In [37]:
x = [1, 2, 3]
y = [42,43]
z = x + y
print(z)
#The code runs without error, it created a list for variable x and y, and z by adding two lists just put the two 
#together in one list.

[1, 2, 3, 42, 43]

# Question 10

In [39]:
x = [1, 2, 3]
y = 42
z = x + y
# This code runs with an error because variable x is assigned a list, and variable Y - a number.
# Those two are two different data types that cannot be added together.

TypeError: can only concatenate list (not "int") to list

# Question 11

In [43]:
x1 = 12 #this is an integer
x2 = 12.0 #this is a float
x3 = '12.0' #this is a string
x4 = [12] #this is a list with one number
x5 = [12, 12.0, '12.0'] #this is a combining list with an integer, a float and a string

# Question 12

In [58]:
type(42) #gives us an output int, which stands for integer, a whole number 42
type(42.0) #gives us an output float, which is not a whole number
type('42.0') #gives us an output string because it is in quotes
type("42.0") #gives us an output string because it treats double quotes the same as single
type("""42.0""") #gives us an output string because it treats three quotes the same as one
type([2,1]) #gives us an output list, because of the scobes
type([1] + [2]) #gives us an output list, becuase it adds two lists together in one
type(1 + 2) #gives us an output int, because the result is a whole number
type(print) #gives us an output builtin_function_or_method, which evaluates each expression in turn and 
#writes the resulting object to standard output

builtin_function_or_method

# Question 13

In [60]:
type(float(str(int('1234'))))
#Gives an output float, because firstly in convers an integer to a string, and afterwards a string to a float.

float

# Question 14

In [61]:
type(int(float('12.34')))
#the result of this statement is int, because it converted a float into an integer

int

# Question 15

In [67]:
len([1234]) #the output is 1 because it's a list and the length of an object in a list which is 1234 is 1.
#If the list looked like this [1234, 1], the length would be 2, etc.
len("1234") # the output is 4 because it is a string with 4 objects in it - 1234.
len(1234) #the output is an error because the object is not defined and it doesn't identigy the length of it

TypeError: object of type 'int' has no len()

# Question 16

In [82]:
type(x = []) #it gives an error because it  is an assignment of a list, which is not a certain type of data
len(x = []) #it cannot identify length because it uses a keyword argument

TypeError: type() takes 1 or 3 arguments

# Question 17

In [83]:
x = 'abcde'
y = list(x)
type(y)
#here x is a string but f is a list

list

# Question 18

In [85]:
#a
x=1234
y=float(x)
type(y)

float

In [91]:
#b
x = str(1234)
print('x has type', type(x))

x has type <class 'str'>

In [92]:
#c
x = '1234'
y = list(x)
print(y)

['1', '2', '3', '4']

# Question 19

In [108]:
x = "luke, i'm your father"
print(x.title())

Luke, I'M Your Father

# Question 20

In [114]:
x = "How many characters and words are in this string?"
len(x) 
# a) x contains 49 characters

49

In [115]:
list(x)
#b) this is a list of individual characters

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

In [129]:
#c
list(x.split())

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [ ]:
#d
len(x.split())